.container {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}

.movie-item {
  position: relative;
}

.movie-poster {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #00000082;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
}

.movie-item:hover .overlay {
  opacity: 1;
}