* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    margin-bottom: 10px;
  }
  
  #resetButton {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #7fda29;
    color: white;
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s;
  }
  
  #resetButton:hover {
    background-color: #548c20;
  }
  